@using Microsoft.AspNetCore.WebUtilities
@using MyLittleContentEngine
@using MyLittleContentEngine.Services.Content
@inject ContentEngineOptions Options
@inject IWebHostEnvironment WebHostEnvironment
@inject LinkService LinkService
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    
    @* ReSharper disable once Html.PathError - this is generated dynamically via MapGet *@
    <link type="application/rss+xml" rel="alternate" title="Thirty25" href="@LinkService.GetLink("rss.xml")" />
    <link rel="stylesheet" href="@LinkService.GetLink(GetVersioned("/styles.css"))">
    <script src="@LinkService.GetLink(GetVersioned("/_content/MyLittleContentEngine.UI/scripts.js"))" defer></script>

    <meta name="description" content="@Options.SiteDescription">

    <script>
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
    </script>
    <HeadOutlet/>
    <PageTitle>@Options.SiteTitle</PageTitle>
</head>

<body class="antialiased font-sans bg-base-50 dark:bg-base-950 scheme-light dark:scheme-dark  transition-colors ">
<div class="dark:bg-primary-950/25 min-h-screen pb-4 md:pb-16">
    <Routes/>
</div>
</body>
</html>

@code{
    private string _baseHref = null!;
    static readonly string Version = DateTime.Now.Ticks.ToString();
    
    string GetVersioned(string url) => WebHostEnvironment.IsDevelopment()
            ? url 
            : QueryHelpers.AddQueryString(url, "v", Version);

    protected override void OnInitialized()
    {
        _baseHref = Options.BaseUrl;
        base.OnInitialized();
    }

}
