@using System.Collections.Immutable
@using MyLittleContentEngine.Services.Content.TableOfContents

@if (TableOfContents != null)
{
    <aside id="@SidebarId" class="@ContainerClass">
        <nav>
            @{
                var childlessTocEntries = TableOfContents.Where(i => i.Items.Length == 0).ToList();
            }
            @if (childlessTocEntries.Count > 0)
            {
                <ul>
                    @foreach (var tableOfContentEntry in childlessTocEntries.OrderBy(i => i.Order))
                    {
                        @TocLink(tableOfContentEntry)
                    }
                </ul>
            }

            @foreach (var tableOfContentEntry in TableOfContents.Where(i => i.Items.Length > 0).OrderBy(i => i.Order))
            {
                @if (string.IsNullOrWhiteSpace(tableOfContentEntry.Href))
                {
                    <h4 class="@SectionHeaderClass">@tableOfContentEntry.Name</h4>
                }
                else
                {
                    <h4 class="@SectionHeaderClass"><a href="@tableOfContentEntry.Href">@tableOfContentEntry.Name</a></h4>
                }

                <ul>
                    @foreach (var childEntries in tableOfContentEntry.Items.OrderBy(i => i.Order))
                    {
                        @TocLink(childEntries)
                    }
                </ul>
            }
        </nav>
    </aside>
}

@code {
    [Parameter] public ImmutableList<TableOfContentEntry>? TableOfContents { get; set; }
    [Parameter] public string SidebarId { get; set; } = "nav-sidebar";
    [Parameter] public string ContainerClass { get; set; } = "w-full lg:w-64 flex-none lg:sticky lg:top-36 lg:h-[calc(100vh-9rem)] overflow-x-hidden overflow-y-auto lg:block hidden";
    [Parameter] public string SectionHeaderClass { get; set; } = "font-display font-medium text-base-900 dark:text-base-50 pt-6 pb-4 first:pt-0";
    [Parameter] public string LinkClass { get; set; } = "block text-sm w-full border-l border-base-700 aria-current:border-primary-400 pl-3.5 py-1.5 text-base-700 dark:text-base-400 aria-current:text-primary-800 dark:aria-current:text-primary-500 hover:text-accent-400 dark:hover:text-base-50";

    private RenderFragment TocLink(TableOfContentEntry tocEntry) =>
        @<li class="block">
            <a aria-current="@tocEntry.IsSelected.ToString().ToLowerInvariant()" href="@tocEntry.Href" class="@LinkClass">@tocEntry.Name</a>
        </li>;
}