@using MyLittleContentEngine.Models

<article class="flex max-w-4xl flex-col items-start justify-between text-base-950 dark:text-base-300">

<div class="flex text-xs">
    <time datetime="@MarkdownContentPage.FrontMatter.Date">@MarkdownContentPage.FrontMatter.Date.ToString("MMM dd, yyyy")</time>
</div>
<div>
    <h3 class="mt-3 text-2xl font-semibold">
        <RefLink Href="@MarkdownContentPage.NavigateUrl">
            <span></span>
            @MarkdownContentPage.FrontMatter.Title
        </RefLink>
    </h3>
    <p class="mt-5 prose dark:prose-invert ">@MarkdownContentPage.FrontMatter.Description</p>
</div>
<div class="flex gap-x-2 lg:gap-x-4 mt-4 md:mt-8 text-xs">
    @foreach (var tag in MarkdownContentPage.Tags)
    {
        <RefLink CssClass="rounded-lg bg-primary-200/25 dark:bg-neutral-900/25 border-primary-200 dark:border-primary-700 border px-2 py-1 md:px-3 md:py-1.5 text-neutral-700 dark:text-neutral-300 hover:bg-primary-200/50 dark:hover:bg-primary-900/25" Href="@tag.NavigateUrl">@tag.Name</RefLink>
    }
</div>
</article>
@code {
    [Parameter] public required MarkdownContentPage<BlogFrontMatter> MarkdownContentPage { get; set; }
}